extends ./layout
block admin-header
    dl(class="brumb clearfix")
        dt
            span 当前位置：文章列表
        dd
            span 可操作
            a(href="/admin/article/add") 新建文章
block content
    div(class="main-content" data-page="article-list")
        div(class="z-row")
            div(class="l80")
                table(class="table table-striped")
                    tr
                        th 序号
                        th 标题
                        th 创建时间
                        th(colspan="2") 操作
                    each val,index in articles
                        tr
                            td #{index+1}
                            td #{val.name}
                            td #{val.date}
                            td
                                a(href="/admin/article/edit/#{val.id}") Edit
                            td
                                a(id="btn-del" href="javascript:;" data-action="/admin/article/delete/#{val.id}?_method=DELETE") Delete
            div(class="l20")
                img(src="/uploads/1481617323814.jpg" alt="" style="width:100%;")
block script
    script(src="/js/module/admin.min.js")