extends layout
block link
    link(rel='stylesheet', href='/css/home.css')
    link(rel='stylesheet', href='/js/jvector/jquery-jvectormap-2.0.2.css')
block content
  div(class="container wrap")
      div(class="row")
          div(class="col-xs-12")
              h2
                  a(class="logo-text" href="##")
              header(class="main-banner")
                  div(class="simple-block")
                      img(src="#{imgUrl}img/avator/alan.jpg" class="img-circle")
                      h2 Alan
      div(class="header")
          nav(class="m-nav")
              div(class="logo")
                  img(src="/images/logo-1.png" style="height:60px;")
              ul(class="navigator")
                  each c, index in categorys
                      li
                          a(href="/category/#{c.id}") #{c.name}
                  li
                      a(href="/about/alan") 关于我
      section(class="travel-light")
          div(class="img-gallery")
              ul(class="clearfix")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_1.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_2.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_3.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_15.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_5.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_12.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_7.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_8.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_9.jpg" alt="")
                  li
                      a(href="##" title="")
                          img(src="#{imgUrl}img/travel/banner/img_1076_11.jpg" alt="")
      section(class="travel-diary")
          div(class="separate-line")
              div
              span(class="label-text")  旅行日记
          div(class="row")
              div(class="col-md-6 col-xs-6")
                  div(id="world-map" style="width: 100%; height: 400px;")
              div(class="col-md-6 col-xs-6")
                  div(class="tl-block")
                      div(class="media")
                          a(class="media-left" href="#")
                              img(class="media-object t-img" src="http://oht39vaz1.bkt.clouddn.com/img/travel/shanxi/pingyao_3269_img_2.jpg" alt="...")
                          div(class="media-body")
                              h4(class="media-heading") 一半夏日 一半旅程
                              p(class="txt") 阿里巴巴从成立以来一直备受质疑，从8年前我做阿里巴巴的时候一路被骂过来，
                                | 都说这个东西不可能。不过没关系，我不怕骂，在中国反正别人也骂不过我。
                              p(class="article-mark")
                                  span 于2015-01-06 22时发布 by 张明
                      div(class="media")
                          a(class="media-left" href="#")
                              img(class="media-object t-img" src="http://oht39vaz1.bkt.clouddn.com/img/travel/shanxi/pingyao_3269_img_2.jpg" alt="...")
                          div(class="media-body")
                              h4(class="media-heading") 一半夏日 一半旅程
                              p(class="txt") 阿里巴巴从成立以来一直备受质疑，从8年前我做阿里巴巴的时候一路被骂过来，
                                  | 都说这个东西不可能。不过没关系，我不怕骂，在中国反正别人也骂不过我。
                              p(class="article-mark")
                                  span 于2015-01-06 22时发布 by 张明
                      div(class="media")
                          a(class="media-left" href="#")
                              img(class="media-object t-img" src="http://oht39vaz1.bkt.clouddn.com/img/travel/shanxi/pingyao_3269_img_2.jpg" alt="...")
                          div(class="media-body")
                              h4(class="media-heading") 一半夏日 一半旅程
                              p(class="txt") 阿里巴巴从成立以来一直备受质疑，从8年前我做阿里巴巴的时候一路被骂过来，
                                  | 都说这个东西不可能。不过没关系，我不怕骂，在中国反正别人也骂不过我。
                              p(class="article-mark")
                                  span 于2015-01-06 22时发布 by 张明
                  div(class="page-nav clearfix")
                      div(class="active")
                      div
                      div
      section(class="my-label-block")
          div(class="separate-line")
              div
              span(class="label-text") 我的标签
          div(class="my-label")
              span 白羊座
              span 前端工程师
              span 技术宅男
              span 会做饭
              span 简单任性
              span 东北人
              span 开朗
              span 阳光
              span 安静
              p so perfect,想想都有点小激动呢
      section(class="my-group")
          div(class="separate-line")
              div
              span(class="label-text")  6+1小分队
          div(class="row b-grey")
              div(class="col-md-2 col-xs-2")
                  div(class="thumbnail group-block")
                      img(src="#{imgUrl}img/avator/girl-1.jpg" alt="..." class="img-circle")
                      div(class="caption")
                          h3 Rosa
                          p 交互、视觉设计师
              div(class="col-md-2 col-xs-2")
                  div(class="thumbnail group-block")
                      img(src="#{imgUrl}img/avator/boy-1.jpg" alt="..." class="img-circle")
                      div(class="caption")
                          h3 Rosa
                          p 交互、视觉设计师
              div(class="col-md-2 col-xs-2")
                  div(class="thumbnail group-block")
                      img(src="#{imgUrl}img/avator/boy-2.jpg" alt="..." class="img-circle")
                      div(class="caption")
                          h3 Rosa
                          p 交互、视觉设计师
              div(class="col-md-2 col-xs-2")
                  div(class="thumbnail group-block")
                      img(src="#{imgUrl}img/avator/girl-2.jpg" alt="..." class="img-circle")
                      div(class="caption")
                          h3 Rosa
                          p 交互、视觉设计师
              div(class="col-md-2 col-xs-2")
                  div(class="thumbnail group-block")
                      img(src="#{imgUrl}img/avator/girl-3.jpg" alt="..." class="img-circle")
                      div(class="caption")
                          h3 Rosa
                          p 交互、视觉设计师
              div(class="col-md-2 col-xs-2")
                  div(class="thumbnail group-block")
                      img(src="#{imgUrl}img/avator/girl-4.jpg" alt="..." class="img-circle")
                      div(class="caption")
                          h3 Rosa
                          p 交互、视觉设计师
      section(class="site-intro")
          div(class="separate-line tl")
              div
              span(class="label-text") 小站简介
          p Alan Dairy: 突发奇想网站被命名为"Alan Dairy",没有理由，也许只是喜欢 alan这个名字。设计之初只是想简单记录每天的生活状态，do something different，
              | 后续会定制社交类型的网站。整个技术层面采用的node+express+bootstrap，每行的代码都是自己手动敲上去的，
              | node接触时间虽然不短，但整个开发还是要从头学，以后的博文中会提到整个网站的行程及每天我的一个工作状态.
              | 现在时间 2015年3月7日 21:49，好吧，我困了，要去睡了

block script
    script(type="text/javascript" src="/js/jvector/jquery-jvectormap-2.0.2.min.js")
    script(type="text/javascript" src="/js/jvector/jquery-jvectormap-cn-mill-en.js")
    script(type="text/javascript" src="/js/home.js")

